<div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">&uarr;</button>
</div>

<div class="bg-light" id="backgroundColor">
    <div>
        <button onclick="topFunction()" id="myBtn" title="Go to top">&uarr;</button>
    </div>
    <hr>
    <small>
        CST 336: Internet Programming. 2019 &copy; <br/>
        Used for academic purpose only.
    </small>
    <br><br><br>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>



<div id="rubricDiv">   
  <table border="1" width="600" cellpadding="10px">
    <thead>
      <tr>
        <th>#</th>
        <th>Task Description</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <tr style="color:green">
        <td>1</td>
        <td>All elements are included (video and buttons)<br></td>
        <td width="20" align="center">10</td>
      </tr>     
      <tr style="color:orange">
        <td>2</td>
        <td>Initial number of likes/dislikes is displayed from API when loading page<br></td>
        <td width="20" align="center">10</td>
      </tr>     
      <tr style="color:red">
        <td>3</td>
        <td>When clicking on any like/dislike button, it's hidden and the other blue/grayedout button is displayed <br></td>
        <td width="20" align="center">10</td>
      </tr>     
      <tr style="color:orange">
        <td>4</td>
        <td>When clicking on any like/dislike button, the corresponding value is updated via an AJAX call <br></td>
        <td width="20" align="center">20</td>
      </tr>     
      <tr style="color:red">
        <td>5</td>
        <td>When clicking on "See Comments", author, date, and comment are displayed via AJAX in the following format: <br> <b>Author</b> <i>Date</i><br>Comment<br></td>
        <td width="20" align="center">20</td>
      </tr>     
      <tr style="color:red">
        <td>6</td>
        <td>When clicking on "See Comments", comments are in random order<br></td>
        <td width="20" align="center">10</td>
      </tr>
      <tr style="color:red">
        <td>7</td>
        <td>When clicking on "See Comments", stars are displayed based on the RATING value<br></td>
        <td width="20" align="center">10</td>
      </tr>
      <tr style="color:green">
        <td>8</td>
        <td>When clicking on "Answer Question" a dropdown question is displayed <br></td>
        <td width="20" align="center">5</td>
      </tr>    
      <tr style="color:green">
        <td>9</td>
        <td>When answering the question, color-coded feedback is displayed <br></td>
        <td width="20" align="center">15</td>
      </tr>    
      <tr style="color:green">
        <td>10</td>
        <td>Page has nice design: content is centered, all buttons right below the video <br></td>
        <td width="20" align="center">10</td>
      </tr>
      <tr style="color:green">
        <td>11</td>
        <td>This rubric is properly included AND UPDATED</td>
        <td width="20" align="center">3</td>
      </tr>
      <tr>
        <td></td>
        <td>T O T A L </td>
        <td width="20" align="center">&nbsp;</td>
      </tr>
    </tbody>
  </table>

<table>
<thead>
<tr>
<th style="text-align:left">#</th>
<th style="text-align:left">Task Description</th>
<th style="text-align:left">Points</th>
</tr>
</thead>
<tbody>
<tr style="color:green">
<td style="text-align:left">1</td>
<td style="text-align:left">You provide a ERD diagram representing the data and its relationships. This may be included in Cloud9 as a picture or from a designer tool</td>
<td style="text-align:left">10</td>
</tr>
<tr style="color:green">
<td style="text-align:left">2</td>
<td style="text-align:left">Tables in MySQL match the ERD and support the requirements of the application</td>
<td style="text-align:left">20</td>
</tr>
<tr style="color:green">
<td style="text-align:left">3</td>
<td style="text-align:left">The list of available appointments is pulled from MySQL using the API endpoint and displayed using the specified page design</td>
<td style="text-align:left">20</td>
</tr>
<tr style="color:green">
<td style="text-align:left">4</td>
<td style="text-align:left">Available times with dates in the past do not show up in the Dashboard list</td>
<td style="text-align:left">5</td>
</tr>
<tr style="color:green">
<td style="text-align:left">5</td>
<td style="text-align:left">A user can add an available time slot to the MySQL using the API endpoint and displayed using the specified modal design</td>
<td style="text-align:left">20</td>
</tr>
<tr style="color:green">
<td style="text-align:left">6</td>
<td style="text-align:left">A user can remove an available time slot from MySQL using the API endpoint</td>
<td style="text-align:left">15</td>
</tr>
<tr style="color:orange">
<td style="text-align:left">7</td>
<td style="text-align:left">The user confirms the removal using the specified modal design</td>
<td style="text-align:left">5</td>
</tr>
<tr>
<td style="text-align:left"></td>
<td style="text-align:left">TOTAL</td>
<td style="text-align:left">100</td>
</tr>
<tr style="color:green">
<td style="text-align:left"></td>
<td style="text-align:left">This rubric is properly included AND UPDATED (BONUS)</td>
<td style="text-align:left">2</td>
</tr>
<tr style="color:orange">
<td style="text-align:left">BD</td>
<td style="text-align:left">Login works with a User table and BCrypt</td>
<td style="text-align:left">20</td>
</tr>
<tr style="color:red">
<td style="text-align:left">BD</td>
<td style="text-align:left">Add Google Signin for app login</td>
<td style="text-align:left">10</td>
</tr>
<tr style="color:red">
<td style="text-align:left">BD</td>
<td style="text-align:left">The app is deployed to Heroku</td>
<td style="text-align:left">5</td>
</tr>
<tr style="color:red">
<td style="text-align:left">BD</td>
<td style="text-align:left">A banner file can be uploaded and displayed</td>
<td style="text-align:left">20</td>
</tr>
<tr>
<td style="text-align:left">BD</td>
<td style="text-align:left">The user can add multiple available time slots as specified</td>
<td style="text-align:left">10</td>
</tr>
<tr>
<td style="text-align:left">BD</td>
<td style="text-align:left">In a separate page, you show the correct list of available time slots to the user who navigates to the correct invitation URL</td>
<td style="text-align:left">10</td>
</tr>
<tr style="color:orange">
<td style="text-align:left">BD</td>
<td style="text-align:left">You correctly implement booking of the appointement, including all side effects</td>
<td style="text-align:left">30</td>
</tr>
</tbody>
</table>
</body>

</html>

